.loader {
    display: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-top: 4px solid rgb(60, 60, 218);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-bottom: 14px;
    pointer-events: none;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid rgb(238, 238, 10);
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

.is-visible {
    display: block;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}